@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<body class="body_registro">
    <section class="color_label_registro">

        <div class="container">
            <br />
            <br />
            <h3 class="titulos">Agregar Cursos</h3>
            <hr>
        </div>
        <div class="container">
            <form id="form-work" class="" name="form-work" action="#">
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="color_label_registro" for="IdCarrera">Carrera</label>
                                <select class="form-control">
                                    <option selected>Seleccione la Carrera</option>
                                    <option value="Carrera0001">Carrera0001</option>
                                    <option value="Carrera0002">Carrera0002</option>
                                    <option value="Carrera0003">Carrera0003</option>
                                    <option value="Carrera0004">Carrera0004</option>
                                    <option value="Carrera0005">Carrera0005</option>
                                    <option value="Carrera0006">Carrera0006</option>
                                    <option value="Carrera0007">Carrera0007</option>
                                    <option value="Carrera0008">Carrera0008</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="color_label_registro" for="IdMateriaReq">Materia Requerida</label>
                                <select class="form-control">
                                    <option selected>Seleccione el requisito del curso</option>
                                    <option value="Req0001">Req0001</option>
                                    <option value="Req0002">Req0002</option>
                                    <option value="Req0003">Req0003</option>
                                    <option value="Req0004">Req0004</option>
                                    <option value="Req0005">Req0005</option>
                                    <option value="Req0006">Req0006</option>
                                    <option value="Req0007">Req0007</option>
                                    <option value="Req0008">Req0008</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="color_label_registro" for="IdCurso">Código de Curso</label>
                                <input name="IdCurso" class="form-control" placeholder="CUR00010" type="text" disabled>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="color_label_registro" for="DesCurso">Nombre del Curso</label>
                                    <input name="DesCurso" class="form-control" placeholder="Curso 0001" type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="color_label_registro" for="Creditos">Créditos</label>
                                <input name="Creditos" class="form-control" placeholder="0" type="number" required>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" class="btn btn-dark btn-lg btn_registrar" onclick="Validar()">
                            Crear Curso
                            <span class="fa fa-save" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="contenido_tabla" class="container">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Carrera</th>
                                <th>Requisito</th>
                                <th>Cód Curso </th>
                                <th>Nombre Curso</th>
                                <th>Créditos</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


</body>

