@*@model AvanzadaAvellanas.Models.RubrosViewModel.IndexViewModel*@


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<header>

    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="fa fa-book"></span> Rubros
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Inicio" asp-action="Index">Inicio <span class="sr-only">(current)</span></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rubros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Rubros" asp-action="Index">Agregar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Rubros" asp-action="Editar">Editar</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#Asistencia">Asistencia Tecnica</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<body class="body_registro">

    <section class="color_label_registro">

        <div class="container">

            <h3 class="titulos">Registro de Rubros</h3>
            <hr>
        </div>

        <div class="container">
            <form id="form-work" class="" name="form-work" action="#">
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <label class="control-label" for="nome">Escoja la Materia deseada</label>
                                <select class="form-control" required>
                                    <option value="" selected>Seleccione la materia</option>
                                    <option value="Carrera0001">Carrera0001</option>
                                    <option value="Carrera0002">Carrera0002</option>
                                    <option value="Carrera0003">Carrera0003</option>
                                    <option value="Carrera0004">Carrera0004</option>
                                    <option value="Carrera0005">Carrera0005</option>
                                    <option value="Carrera0006">Carrera0006</option>
                                    <option value="Carrera0007">Carrera0007</option>
                                    <option value="Carrera0008">Carrera0008</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="control-label" for="nome">Nombre del Rubro</label>
                                <input name="Nombre" class="form-control" placeholder="Jon" type="text" required="true">
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label" for="porcentaje">Porcentaje</label>
                                    <input name="Porcenetaje" class="form-control" placeholder="Doe" type="number" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-4">
                                    <button type="submit" class="btn btn-dark btn-lg btn_registrar" onclick="">
                                        Crear
                                        <span class="fa fa-save" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">

                                    <table class="table">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre de Rubro</th>
                                                <th>Porcentaje</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Tarea 1</td>
                                                <td>10%</td>
                                                <td>
                                                    <button class="btn btn-dark btn-sm btn_boton">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        <th>2</th>
                                        <td>Examen 1</td>
                                        <td>25%</td>
                                        <td>
                                            <button class="btn btn-dark btn-sm btn_boton">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">Total Porcentaje</td>
                                                <td>35%</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </section>

</body>
